

.Navigation{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  margin-right: 300px;
  
  
}


.Navigation-space{
  position: absolute;
  width: 200px;
  background-color: whitesmoke;
  height: 1000px ;
  margin-bottom: 500px;
  margin-left: 800px;


  
}

.container {

  margin-top: 20px;
  margin-left: 100px;
  height: 1000px;
  width: 1000px;
  position:absolute;
overflow-x: scroll;
overflow-y: scroll;

}

.header{
position: fixed;
margin-left: 0px;
margin-bottom: 0px;
background-color:lavender;
height:30px;
width: 1000px;
}

.navcontainer{
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top:0px;
  margin-left: 400px;
  

}

.fetchpoem{
  position: fixed;
  width: 50%;
  height: 50%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -280px;
  margin-left: -280px;
  margin-right: 10px;
  overflow-y: scroll;
}

.about {
  position:fixed;
  margin-top: 50px;
  margin-left: 150px;
  margin-top: 100px;
  height: 500px;
  width: 500px;
  background-repeat:no-repeat;
  background-color: thistle;
  opacity: 0.7;
  
}

.returnspoem{
position: fixed;
margin-bottom: 


}

.account{
margin-top: 250px;
position: absolute;
margin-left: 425px;
}


.fetchbuttons{
  position: fixed;
  margin-top: 325px;
  margin-left: 425px;
}

.title {
font-size: 25px;
padding-bottom: 20px;
width: 80%;
margin-right: 175px;
background-color: beige;
opacity:0.8;


}

.Poet{
  font-size: 20px;
  padding-bottom: 20px;
  width: 80%;
  background-color:beige;
  opacity: 0.8;



}

.content{
  width: 80%;
  background-color: beige;
  scroll-behavior:smooth;
  height: relative;
  position: relative;
  opacity: 0.8;
  

}

.bookmarkbutton{
 margin-left: 200px;
 margin-bottom: -180px ;
 margin-top: -10px;
 position:relative;
}

.poembutton{
  margin-left:-250px;
  position:relative;

}


.headerbutton{
  background-color: transparent;
  border: none;
  margin-bottom: 30px;
  height: 30px;
 position: fixed;
 padding:0;
}

.apibutton{
  background-color: transparent;
  border: none;


}

.beebutton{
  background-color: transparent;
  margin-left: 600px;
  border: none;
  margin-bottom: -600px;
  margin-top: -100px;
  margin-right: -200px ;
  
 
}

.beebuttonname{
  margin-left: 650px;
  padding-top: 0px;
  margin-top: -50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: small;
  background-color:transparent;
  background-size: contain;
  border-radius: 20%;
}

.aboutnavstyle{
  padding-bottom: 50px;
  border-width: 30px;
  background-color: burlywood;
  background-size: contain;
  padding-left: 0px;
 
}

.aboutbuttonlogo{
  background-color: transparent;
  border:none;
  width: 20px;
  height:20pxl
}
